In [2]:
import files_process_save as fps
import pathlib
import pandas as pd
import numpy as np
from typing import Union

In [3]:
temp_path = fps.check_file("temperatur.csv")
df_temp = pd.read_csv(temp_path)
df_temp.set_index("Date", inplace=True)
df_temp.index = pd.to_datetime(df_temp.index, dayfirst=True)

In [4]:
df_temp.loc["2014-09-29"]

temperature - A    0.0
temperature - B    0.0
Name: 2014-09-29 00:00:00, dtype: float64

In [5]:
def check_temp_values_range(df_temp: pd.DataFrame) -> pd.DataFrame:
    """
    Check and replace incorrect values with nan.
    (Zero values or values out of defined ranges)
    """
    df_temp.replace(0, np.nan, inplace=True)
    ranges_val = [12, 40]
    col_names_lst = ["temperature - A", "temperature - A"]

    for i in range(2):
        name = col_names_lst[i]
        low = ranges_val[0]
        high = ranges_val[1]
        df_temp.loc[:, df_temp.columns.str.contains(name)] = df_temp.loc[
            :, df_temp.columns.str.contains(name)
        ].apply(lambda x: [value if low < value < high else np.nan for value in x])

    return df_temp

In [6]:
df_temp = check_temp_values_range(df_temp)

In [7]:
df_temp.loc["2014-09-29"]

temperature - A   NaN
temperature - B   NaN
Name: 2014-09-29 00:00:00, dtype: float64

In [8]:
df_temp.interpolate(inplace=True, method="time")

In [9]:
df_temp.loc["2014-09-29"]

temperature - A    27.865
temperature - B    27.115
Name: 2014-09-29 00:00:00, dtype: float64

In [10]:
df_temp

            temperature - A  temperature - B
Date
2010-01-01            22.32            21.74
2010-01-02            22.21            21.76
2010-01-03            21.99            21.49
2010-01-04            22.05            21.58
2010-01-05            22.08            21.70
...                     ...              ...
2020-09-11            31.41            31.58
2020-09-12            31.11            31.41
2020-09-13            31.04            31.19
2020-09-14            30.80            30.99
2020-09-15            30.82            30.99

[3911 rows x 2 columns]

In [26]:
df_temp["Temperature"]= df_temp.iloc[: , 0:2].mean(axis=1)

In [27]:
df_temp["Temperature"].index.names = ['date']

In [28]:
df_temp["Temperature"]

date
2010-01-01    22.030
2010-01-02    21.985
2010-01-03    21.740
2010-01-04    21.815
2010-01-05    21.890
               ...
2020-09-11    31.495
2020-09-12    31.260
2020-09-13    31.115
2020-09-14    30.895
2020-09-15    30.905
Name: Temperature, Length: 3911, dtype: float64

In [29]:
df_temp["Temperature"].to_csv(pathlib.Path("clean_tables/temperatur.csv"))